@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  padding: 10px;
  background: #f1f1f1;
  }
  
/* list */
ol{
    padding-left: 15px;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 42);
}
/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
  background: white;
  display: flex;
  justify-content: space-between;
}
  
.header h3 {
  font-size: 25px;
}
.header .image{
    padding: 0px;
    margin: 0;
}
.header .head{
    padding: 20px;
}

.header img{
    width: 120px;
}
span{
  font-weight: 700;
  }
  
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  width: 100%;
  background-color:rgb(0, 0, 42);
  position:sticky; 
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
/* Dropdown */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color:rgb(0, 0, 42);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    float: none;
    color: black;
    padding: 20px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content button:hover {
    color: cyan;
  }
  
  .show {
    display: flex;
    flex-direction: column;
  }

/* dropdown2 */
.dropdown1 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown1 .dropbtn1 {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color:rgb(0, 0, 42);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content1 a {
    float: none;
    color: black;
    padding: 20px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content1 a:hover {
    color: cyan;
  }
  .show1 {
    display: flex;
    flex-direction: column;
  }
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s ease;
  position: sticky;
}
  
/* Change color on hover */
.topnav a:hover, 
.topnav .active,
.dropbtn:hover,
.dropbtn:focus {
  color: cyan;
}
  /* Button */
.dropbtn {
   background-color: transparent;
   color: #fff;
   padding: 14.5px 16px;
   font-size: 15px;
   border: none;
   cursor: pointer;
}
.dropdown {
    display: inline-block;
}
/* table */
.staff table {
    width: 50%;
}
table, td, th{
    border: 0.5px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
}


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card .fakeimg{
  width: 80%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .header .head{
    padding: 10px;
  }
  .header h3 {
    font-size: 10px;
  }
  .header h5 {
    font-size: 7px;
  }
  .header img {
    width: 70px;
  }
  .topnav a {
    padding: 8px 16px;
  }
  .topnav .dropbtn {
    padding: 8.5px 16px;
 }
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .leftcolumn img{   
    width: 100%;
    height: auto;
}
  td{
    padding: 5px 5px ;
  }
  table{
      margin-left: -14px;
      
  }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .header .head{
        padding: 10px;
      }
      .header h3 {
        font-size: 9px;
      }
      .header h5 {
        font-size: 5px;
      }
      .header img {
        width: 70px;
    }
  .leftcolumn img{   
    width: 100%;    
    height: auto;
   }
  .topnav a {
    float: none;
    width: 100%;
  }
  th, td{
    padding: 0px 1.5px ;
  }
  table{
    margin-left: -15px;
}
}